@import 'styles/_colors.scss';
@import 'styles/_breakpoints.scss';


.base {
  display: block;
  flex-grow: 0;
  margin: 0;
  padding: 0;
  width: auto;
  white-space: nowrap;
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  height: 100%;
}

.button {
  width: 100%;
  height: 50px;
  font-family: 'RobotoMono';
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  border: 1px solid $color-border;
  @media (min-width: $wide) {
    height: 60px;
  }
}

.isPrimary {
  color: $white;
  background: $green;
  border-color: $green;
}
