@import 'styles/_colors.scss';
@import 'styles/_breakpoints.scss';

.menu {
  display: none;
  padding: 0;
  @media (min-width: $tablet) {
    display: block;
    position: relative;
  }
}

.list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.listItem {
  margin: 20px 0;
  padding: 0;
  list-style: none;
  @media (min-width: $tablet) {
    margin: 0 15px;
  }
  @media (min-width: $wide) {
    margin: 0 20px;
  }
}

.listItemLink {
  font-family: 'RobotoMono';
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: $black;
}

.more {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.moreButton {
  margin-top: -2px;
  padding: 15px 5px;
}

.moreList {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  margin: 10px 0 0 0;
  padding: 15px 7px;
  min-width: 160px;
  background: darken($beige, 10%);
  list-style: none;
  z-index: 1;
}

.moreListIsOpen {
  display: block;
}

.moreListItem {
  padding: 10px 10px;
}

.moreListItemLink {
  composes: listItemLink;
}
