@import 'styles/_colors.scss';
@import 'styles/_breakpoints.scss';


.topCarousel {
  @media (min-width: $tablet) {
    :global(.slick-list) {
      margin-right: -25px;
    }
  }
  @media (min-width: $desktop) {
    :global(.slick-list) {
      margin-left: -25px;
      margin-right: -25px;
    }
  }
}

.slideInner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  background: transparent;
  @media (min-width: $tablet) {
    justify-content: flex-start;
    flex-flow: row nowrap;
  }
  @media (min-width: $desktop) {
    padding-left: 25px;
  }
}

.infoContainer {
  order: 2;
  @media (min-width: $tablet) {
    order: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex: 0 0 323px;
    height: 445px;
    border-right: 1px solid $color-border;
  }
  @media (min-width: $desktop) {
    flex-basis: 548px;
    height: 426px;
  }
  @media (min-width: $wide) {
    flex-basis: 735px;
    height: 600px;
  }
}

.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
  padding: 10px;
  @media (min-width: $tablet) {
    order: 2;
    flex:  0 0 322px;
    justify-content: flex-end;
    padding: 0;
  }
  @media (min-width: $desktop) {
    flex-basis: 322px;
    padding-left: 10px;
  }
  @media (min-width: $wide) {
    flex-basis: 435px;
  }
}

.title {
  display: block;
  margin: 19px auto 29px;
  max-width: 250px;
  font-family: "GiorgioSans";
  font-size: 31px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $black;
  @media (min-width: $tablet) {
    margin: 0;
    max-width: 290px;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0.87px;
    text-align: left;
  }
  @media (min-width: $desktop) {
    max-width: 395px;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0.87px;
  }
  @media (min-width: $wide) {
    // margin-top: 94px;
    max-width: 510px;
    font-size: 65px;
    line-height: 70px;
    letter-spacing: 1.13px;
  }
}

.subtitle {
  display: none;
  margin: 0;
  font-family: 'Lora';
  font-weight: 400;
  color: #000000;
  @media (min-width: $desktop) {
    display: block;
    margin-top: 28px;
    max-width: 495px;
    font-size: 16px;
    line-height: 25px;
  }
  @media (min-width: $wide) {
    margin-top: 37px;
    max-width: 570px;
    font-size: 18px;
    line-height: 30px;
  }
}

.linkButton {
  composes: base button isPrimary from 'components/Button/Button.module.scss';
  display: none;
  text-decoration: none;
  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    min-width: 193px;
    width: 193px;
  }
  @media (min-width: $desktop) {
    margin-top: 35px;
  }
  @media (min-width: $wide) {
    margin-top: 45px;
    min-width: 203px;
    width: 203px;
  }
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  height: 192px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(-5deg);
  @media (min-width: $tablet) {
    width: 272px;
    height: 361px;
  }
  @media (min-width: $wide) {
    width: 372px;
    height: 494px;
  }
}

.playButton {
  width: 25px;
  color: $white;
  transform: rotate(5deg);
  @media (min-width: $tablet) {
    width: 50px;
  }
}

.arrow {
  position: absolute;
  bottom: 10px;
  width: 30px;
  height: 30px;
  z-index: 1;
  @media (min-width: $tablet) {
    bottom: 20px;
  }
  @media (min-width: $desktop) {
    top: 200px;
    bottom: auto;
    width: 30px;
    height: 30px;
  }
  @media (min-width: $wide) {
    top: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid $color-border;
    border-radius: 100%;
    transform: translateY(-50%);
  }
}

.arrowPrev {
  left: 13px;
  @media (min-width: $tablet) {
    left: -6px;
  }
  @media (min-width: $desktop) {
    left: -50px;
  }
  @media (min-width: $wide) {
    left: -100px;
  }
}

.arrowNext {
  right: 13px;
  @media (min-width: $tablet) {
    right: -6px;
  }
  @media (min-width: $desktop) {
    right: -50px;
  }
  @media (min-width: $wide) {
    right: -100px;
  }
}

.dots {
  position: relative;
  margin: 0;
  padding: 17px 0 0;
  height: 50px;
  list-style: none;
  border-top: 1px solid transparent;
  text-align: center;
  @media (min-width: $tablet) {
    padding: 27px 0 0;
    height: 70px;
  }
  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: -1000px;
    right: -1000px;
    border-top: 1px solid $color-border;
  }
  li {
    display: inline-block;
    vertical-align: top;
  }
  :global(.slick-active) {
    .dotInner {
      &:before {
        background: $black;
      }
    }
  }
}

.dot {
  height: 15px;
  width: 15px;
  @media (min-width: $tablet) {
    margin: 0 5px;
  }
}

.dotInner {
  &:before {
    content: ' ';
    width: 5px;
    height: 5px;
    background: rgba(0,0,0,.15);
    border-radius: 100%;
  }
}
