@font-face {
	font-family: 'RobotoMono';
  src: url('./assets/fonts/RobotoMono-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
	font-family: 'RobotoMono';
  src: url('./assets/fonts/RobotoMono-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/Lora-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
	font-family: 'GiorgioSans';
  src: url('./assets/fonts/Giorgio Sans-Bold.otf');
  font-weight: 700;
  font-style: normal;
}
