@import 'styles/_colors.scss';
@import 'styles/_breakpoints.scss';

.page {}

.section {
  background: #fff;
  overflow: hidden;
}

.sectionInner {
  margin: 0 auto;
  padding: 0 20px;
  min-width: $mobile;
  max-width: $wide;
  @media (min-width: $tablet) {
    padding-left: 60px;
    padding-right: 60px;
  }
  @media (min-width: $desktop) {
    padding-left: 75px;
    padding-right: 75px;
  }
  @media (min-width: $wide) {
    padding-left: 135px;
    padding-right: 135px;
  }
}

.sectionTopCarousel {
  background: $beige;
  .sectionInner {
    margin: 0 auto;
    padding: 0;
    max-width: 320px;
    @media (min-width: $tablet) {
      padding-left: 60px;
      padding-right: 60px;
      max-width: 765px;
    }
    @media (min-width: $desktop) {
      padding-left: 75px;
      padding-right: 75px;
      max-width: 1020px;
    }
    @media (min-width: $wide) {
      padding-left: 135px;
      padding-right: 135px;
      max-width: 1440px;
    }
  }
}

.sectionRecentProjects {
  padding: 27px 0;
  @media (min-width: $tablet) {
    padding: 49px 0 47px;
  }
  @media (min-width: $wide) {
    padding: 68px 0 67px;
  }
}

.sectionSubmitProject {
  padding: 0 0 100px;
}
