@import 'styles/_colors.scss';
@import 'styles/_breakpoints.scss';


.submitProject {
  margin: 0 auto;
  max-width: 280px;
  @media (min-width: $tablet) {
    display: flex;
    flex-flow: row nowrap;
    max-width: 645px;
  }
  @media (min-width: $desktop) {
    max-width: 870px;
  }
  @media (min-width: $wide) {
    max-width: 1170px;
  }
}

.image {
  width: 100%;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: $tablet) {
    width: 322px;
    height: 195px;
  }
  @media (min-width: $desktop) {
    width: 435px;
    height: 195px;
  }
  @media (min-width: $wide) {
    width: 585px;
    height: 270px;
  }
}

.info {
  padding: 20px;
  border: 1px solid $color-border;
  border-top: none;
  @media (min-width: $tablet) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 30px 0 0 3px;
    width: 323px;
    border: 1px solid $color-border;
    border-left: none;
  }
  @media (min-width: $desktop) {
    padding: 30px 0 0 14px;
    width: 435px;
  }
  @media (min-width: $wide) {
    padding: 55px 0 0 16px;
    width: 585px;
  }
}

.title {
  margin: 0 auto;
  max-width: 200px;
  color: $black;
  font-family: "RobotoMono";
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: $tablet) {
    max-width: 260px;
    font-size: 21px;
    line-height: 30px;
  }
  @media (min-width: $desktop) {
    max-width: 330px;
  }
  @media (min-width: $wide) {
    max-width: 330px;
    font-size: 24px;
    line-height: 35px;
  }
}

.submitButton {
  margin-top: 17px;
  @media (min-width: $tablet) {
    max-width: 193px;
  }
  @media (min-width: $wide) {
    margin-top: 28px;
    max-width: 213px;
  }
}
