@import 'styles/_colors.scss';
@import 'styles/_breakpoints.scss';

.header {
  background: $beige;
  @media (min-width: $tablet) {
    border-bottom: 1px solid $color-border;
  }
}

.headerInner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 auto;
  padding: 9px 10px 0 10px;
  min-width: $mobile;
  max-width: $wide;
  @media (min-width: $tablet) {
    padding: 23px 30px 23px 24px;
  }
  @media (min-width: $wide) {
    padding: 33px 51px 33px 29px;
  }
}

.logo {
  display: inline-flex;
  color: $black;
  @media (min-width: $tablet) {
    margin-right: 16px;
  }
  @media (min-width: $desktop) {
    margin-right: 23px;
  }
  @media (min-width: $wide) {
    margin-right: 40px;
  }
}

.langLink {
  margin-left: auto;
  margin-right: 15px;
  font-family: 'RobotoMono';
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
  @media (min-width: $wide) {
    margin-right: 20px;
  }
}

.logInButton {
  display: none;
  min-width: 143px;
  width: 143px;
  @media (min-width: $tablet) {
    display: block;
    margin-left: 16px;
  }
  @media (min-width: $wide) {
    margin-left: 20px;
    min-width: 173px;
    width: 173px;
    height: 60px;
  }
}

.mobileMenuButton {
  margin: 0 10px 0 15px;
  @media (min-width: $tablet) {
    display: none;
  }
}
