@import 'styles/_colors.scss';
@import 'styles/_breakpoints.scss';


.recentProjects {
  overflow: hidden;
  :global(.slick-slide) {
    transition-property: opacity;
    opacity: 1;
    transition-duration: .2s;
    transition-delay: .3s;
    &.isBlurred {
      opacity: .2;
      transition-delay: 0s;
    }
  }
  :global(.slick-list) {
    margin: 0 auto;
    width: 290px;
    overflow: visible;
  }
  @media (min-width: $tablet) {
    :global(.slick-list) {
      width: 675px;
    }
  }
  @media (min-width: $desktop) {
    :global(.slick-list) {
      width: 900px;
    }
  }
  @media (min-width: $wide) {
    :global(.slick-list) {
      width: 1200px;
    }
  }
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto 17px;
  width: 280px;
  @media (min-width: $tablet) {
    margin-bottom: 31px;
    width: 645px;
  }
  @media (min-width: $desktop) {
    width: 870px;
  }
  @media (min-width: $wide) {
    margin-bottom: 40px;
    width: 1170px;
  }
}

.headerTitle {
  font-family: "RobotoMono";
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: $black;
  @media (min-width: $tablet) {
    font-size: 21px;
  }
  @media (min-width: $wide) {
    font-size: 24px;
  }

}

.headerLink {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: "RobotoMono";
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  text-decoration: none;
  color: $black;
}

.headerLinkIcon {
  margin-left: 11px;
  margin-top: -2px;
}

.slideInner {
  position: relative;
  z-index: 1;
  margin: 0 5px;
  @media (min-width: $tablet) {
    margin: 0 15px;
  }
}

.imageLink {
  display: block;
}

.image {
  width: 135px;
  height: 180px;
  @media (min-width: $tablet) {
    width: 195px;
    height: 258px;
  }
  @media (min-width: $wide) {
    width: 270px;
    height: 359px;
  }
}

.status {
  height: 5px;
  background: $gray-light;
  @media (min-width: $desktop) {
    height: 7px;
  }
  @media (min-width: $wide) {
    height: 10px;
  }
}

.statusIndicator {
  height: 100%;
  background: $red;
}

.titleLink {
  display: block;
  margin-top: 18px;
  font-family: 'Lora';
  font-size: 15px;
  line-height: 20px;
  color: $black;
  text-decoration: none;
  @media (min-width: $tablet) {
    margin-top: 20px;
    font-size: 16px;
    line-height: 25px;
  }
  @media (min-width: $wide) {
    margin-top: 22px;
    font-size: 18px;
    line-height: 30px;
  }
}

.date {
  opacity: .5;
  margin-top: 15px;
  font-family: "RobotoMono";
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  color: $black;
}
